%clearfix {
  display: block;
  content:"";
  clear:both;
}
%fontAwesome {

  font-family: "FontAwesome";
  -webkit-font-smoothing:antialiased;
}
%vg-fonts {

  font-family:"vg-fonts";
  -webkit-font-smoothing:antialiased;
}
%ellipsis {

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
%d-flex {
  display: flex;
}
%align-center {
  align-items: center;
}
%align-start {
  align-items: flex-start;
}
%align-end {
  align-items: flex-end;
}
%justify-center {
  justify-content: center;
}
%justify-between {
  justify-content: space-between;
}
%justify-around {
  justify-content: space-around;
}
