$primary-color:#71797e;
$secondary-color:#90c441;
$font-color:#fff;
$border-color:#66704c;

:root {

  --primary-color:#71797e;
  --secondary-color:#90c441;
  --font-color:#fff;
  --border-color:#66704c;
  --background-color:#eaeaea;

}
