.si-side-menu {
  border-right:1px solid var(--border-color);

  .si-sidemenu-list {

    .si-sidemenu-item {

      padding: 0 10px;
      position: relative;

      &.active , &:hover {

        &:after {
          position: absolute;
          top:0;
          right:0;
          display: inline-block;
          content:"";
          width:3px;
          height:100%;
          background-color: var(--secondary-color);
          transition: all 300ms ease-in;
        }
        &:before {
          position: absolute;
          top:50%;
          right:3px;
          content:"";
          width:0px;
          height:0px;
          border-top:4px solid transparent;
          border-bottom: 4px solid transparent;
          border-right:4px solid var(--secondary-color);
          border-left:4px solid transparent;
          transform: translateY(-50%);
        }
      }
      a {

          display: block;
          text-align: center;
          padding:10px 0;
          border-bottom:1px solid lighten($secondary-color,50);
          transition: all 300ms ease-out;

          &:before {

            @extend %vg-fonts;
            display: block;
            content:"";
            background-size:contain;
            background-repeat: no-repeat;
            background-position: center center;
            width:100%;
            height:36px;
            font-size: 36px;
            margin:0 auto;
            margin-bottom:15px;


            @media (max-height: $mobile) {
              height:25px;
              font-size: 25px;
              margin-bottom: 8px;
            }
          }
          font-size: 12px;
          color:var(--font-color);
          text-decoration: none;
          font-weight: 400;

        } // a
        &:hover , &.active {
          a:before , a {
            color:var(--secondary-color);
          }
        }
        &.add-photo {
          a:before {
            content:"\e900";
          }
        }
        &.add-text {
          a:before {
            content:"\e919";
          }
        }
        &.image-gallery {
          a:before {
            background-image: url(../images/compny_logo.png);
          }
        }
        &.infographix {
          a:before {

            content:"\e916";
          }
        }
        &.ratio {
          a:before {

            content:"\e923";
          }
        }
        &.templates {
          a:before {

            content:"\e925";
          }
        }
        &.transition {
          a:before {

            content:"\e926";
          }
        }
        &.audio {
          a:before {

            content:"\e924";
          }
        }
    } // .si-sidemenu-item
  } // .si-sidemenu-list
} // .si-side-menu
