.si-side-menu {
  border-right:1px solid $border-color;

  .si-sidemenu-list {

    .si-sidemenu-item {

      padding: 0 10px;
      position: relative;

      &.active , &:hover {

        &:after {
          position: absolute;
          top:0;
          right:0;
          display: inline-block;
          content:"";
          width:3px;
          height:100%;
          background-color: $secondary-color;
          transition: all 300ms ease-in;
        }
        &:before {
          position: absolute;
          top:50%;
          right:3px;
          content:"";
          width:0px;
          height:0px;
          border-top:4px solid transparent;
          border-bottom: 4px solid transparent;
          border-right:4px solid $secondary-color;
          border-left:4px solid transparent;
          transform: translateY(-50%);
        }
      }
    }
    .si-sidemenu-item  {

      a {

        display: block;
        text-align: center;
        padding:10px 0;
        border-bottom:1px solid lighten($secondary-color,50);
        transition: all 300ms ease-out;
        &:before {

          @extend %vg-fonts;
          display: block;
          content:"";
          background-size:contain;
          background-repeat: no-repeat;
          background-position: center center;
          width:100%;
          height:36px;
          font-size: 36px;
          margin:0 auto;
          margin-bottom:15px;
          @media (max-height: 768px) {
            height:25px;
            font-size: 25px;
            margin-bottom: 8px;
          }
        }
        font-size: 12px;
        color:$font-color;
        text-decoration: none;
        font-weight: 400;

      }
      &:hover , &.active {
        a:before , a {
          color:$secondary-color;
        }
      }
      &.add-photo {
        a:before {
          // background-image: url(../images/add_photo.svg);
          content:"\e900";
        }
      }
      &.add-text {
        a:before {
          // background-image: url(../images/text.svg);
          content:"\e919";
        }
      }
      &.image-gallery {
        a:before {
          background-image: url(../images/compny_logo.png);
        }
      }
      &.infographix {
        a:before {
          // background-image: url(../images/stats.svg);
          content:"\e916";
        }
      }
      &.ratio {
        a:before {
          // background-image: url(../images/stats.svg);
          content:"\e923";
        }
      }
      &.templates {
        a:before {
          // background-image: url(../images/stats.svg);
          content:"\e925";
        }
      }
      &.transition {
        a:before {
          // background-image: url(../images/stats.svg);
          content:"\e926";
        }
      }
      &.audio {
        a:before {
          // background-image: url(../images/stats.svg);
          content:"\e924";
        }
      }
    }
  }
}
