html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font:inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body ,html {
	width:auto;
}
@font-face {
  font-family: 'gotham_ultra-italic';
  src: url("../fonts/gotham_ultra_italic-webfont.eot"); }

@font-face {
  font-family: 'gotham_ultra-italic';
  src: url("../fonts/gotham_ultra_italic-webfont.woff") format("woff"), url("../fonts/gotham_ultra_italic-webfont.ttf") format("truetype"), url("../fonts/gotham_ultra_italic-webfont.svg#gotham_ultraitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gotham_book';
  src: url("../fonts/Gotham-Book.eot"); }

@font-face {
  font-family: 'gotham_book';
  src: url("../fonts/Gotham-Book.woff") format("woff"), url("../fonts/Gotham-Book.ttf") format("truetype"), url("../fonts/Gotham-Book.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gotham_black';
  src: url("../fonts/Gotham-Black.eot") format("embedded-opentype"); }

@font-face {
  font-family: 'gotham_black';
  src: url("../fonts/Gotham-Black.woff") format("woff"), url("../fonts/Gotham-Black.ttf") format("truetype"), url("../fonts/Gotham-Black.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gotham_medium';
  src: url("../fonts/Gotham-Medium.woff") format("woff"), url("../fonts/Gotham-Medium.eot") format("embedded-opentype"), url("../fonts/Gotham-Medium.ttf") format("truetype"), url("../fonts/Gotham-Medium.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'gotham_light';
  src: url("../fonts/Gotham-Light.woff") format("woff"), url("../fonts/Gotham-Light.eot") format("embedded-opentype"), url("../fonts/Gotham-Light.ttf") format("truetype"), url("../fonts/Gotham-Light.svg") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
	 font-family:'gotham-book-italic';
	 src: url('../fonts/Gotham-BookItalic.woff') format('woff') , url('../fonts/Gotham-BookItalic.eot') format('embedded-opentype'), url('../fonts/Gotham-BookItalic.ttf') format('truetype'), url('../fonts/Gotham-BookItalic.otf') format('opentype'), url('../fonts/Gotham-BookItalic.svg') format('svg');
	 font-style: normal;
	 font-weight: normal;

	}

@font-face {
	  font-family: 'gotham_bold';
	  src: url("../fonts/Gotham-Bold.eot");
	  src: url("../fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gotham-Bold.woff2") format("woff2"), url("../fonts/Gotham-Bold.woff") format("woff"), url("../fonts/Gotham-Bold.ttf") format("truetype"), url("../fonts/Gotham-Bold.otf") format("opentype"), url("../fonts/Gotham-Bold.svg#Gotham Bold") format("svg");
	  font-weight: 700;
	  font-style: normal;
	  font-stretch: normal;
	  unicode-range: U+0020-00FE; }

.container {
	width:100%;
	height:100%;
  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align:center;
        -ms-flex-align:center;
            align-items:center;
    -webkit-box-pack:center;
        -ms-flex-pack:center;
            justify-content:center;

}
.image-wrapper {

	width:1280px;
 	height:720px;
	margin:0 auto;

}
.main-image {
  position: relative;
  width:100%;
  height:100%;
  overflow: hidden;

}
.main-image .si-image-wrapper img {
  position: absolute;
  width:100%;
  height:auto;
  top:0;
  left:0;
  z-index:1;
}
 .si-main-graphic .si-grpahic-container {
	position: relative;
	width: 100%;
	height: 0px;
	padding-bottom: 56.25%;
	background-image: url(../images/transparent-big.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover; }
 .si-main-graphic .si-grpahic-container .graphic-overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		bottom: 0;
		left: 0;
		z-index: 2; }
	 .si-main-graphic .si-grpahic-container .graphic-overlay img {
			display: block;
			width: 100%;
			height: 100%; }
	 .si-main-graphic .si-grpahic-container .graphic-overlay .si-text-overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			z-index: 5;
		 }
		 .si-main-graphic .si-grpahic-container .graphic-overlay .si-text-overlay .si-text-wrap {
				position: absolute;
				width: 80%;
				top: 80%;
				left: 50%;
				-webkit-transform: translateX(-50%);
						-ms-transform: translateX(-50%);
								transform: translateX(-50%);
							}
		 .si-main-graphic .si-grpahic-container .graphic-overlay .si-text-overlay p {
				text-align: left;
				font: initial;
				word-wrap: break-word; }
 .si-main-graphic .si-grpahic-container .si-main-image {

		width: 100%;
		height: 100%;
		overflow: hidden; }
	 .si-main-graphic .si-grpahic-container .si-main-image .si-image-wrapper {
			width: 100%;
			height: 100%; }
		 .si-main-graphic .si-grpahic-container .si-main-image .si-image-wrapper img {
				position: absolute;
				width: 100%;
				min-height:100%;
				z-index: 1; }
 .si-main-graphic .si-grpahic-container .si-resize-overlay {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		padding: 10px;
		z-index: 3;
		cursor: move; }
	 .si-main-graphic .si-grpahic-container .si-resize-overlay .si-resize-wrap {
			width: 100%;
			height: 100%;
			border: 1px dashed rgba(255, 255, 255, 0.5); }
 .si-main-graphic .si-grpahic-container .si-resize-options {
		position: absolute;
		top: 0;
		right: -35px;
		text-align: center; }
	 .si-main-graphic .si-grpahic-container .si-resize-options span {
			opacity: 0.20;
			cursor: pointer; }
 .si-main-graphic .si-grpahic-container .si-drag-btn, .si-main .si-col.viewer .si-main-graphic .si-grpahic-container .si-set-btn {
		display: block;
		width: 25px;
		height: 25px;
		background-repeat: no-repeat;
		background-image: url(../images/image_adjust.svg);
		cursor: pointer; }
 .si-main-graphic .si-grpahic-container .si-set-btn, .si-main .si-col.viewer .si-main-graphic .si-grpahic-container .si-set-close-btn {
		background-image: none;
		text-align: center; }
	 .si-main-graphic .si-grpahic-container .si-set-btn:before, .si-main .si-col.viewer .si-main-graphic .si-grpahic-container .si-set-close-btn:before {
			display: inline-block;
			font-size: 26px;
			content: "\f00c";
			color: #fff;
			line-height: 25px; }
 .si-main-graphic .si-grpahic-container .si-set-close-btn:before {
		content: "\f00d "; }
 .si-main-graphic .si-grpahic-container span + span {
		display: inline-block;
		margin-top: 10px; }
 .si-main-graphic .si-grpahic-container span.active {
		opacity: 1; }

.si-grpahic-container .si-split-image {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			display: -webkit-box;
			display: -webkit-flex;
			display: -ms-flexbox;
			display: flex;
			overflow: hidden; }
.si-grpahic-container .si-split-image .si-image-col {
				position: relative;
				height: 100%;
				-webkit-box-flex: 1;
				-webkit-flex: 1;
						-ms-flex: 1;
								flex: 1;
				overflow: hidden; }
.si-grpahic-container .si-split-image .si-image-col .si-split-close {
					display: inline-block;
					position: absolute;
					top: 0;
					right: 0;
					width: 16px;
					height: 16px;
					line-height: 14px;
					font-size: 12px;
					color: #4a4a4a;
					font-weight: 600;
					background-color: #f6f6f6;
					z-index: 3;
					text-align: center;
					cursor: pointer; }
.si-grpahic-container .si-split-image .si-image-col:hover:not(:last-child):before {
					display: inline-block;
					position: absolute;
					top: 0;
					right: 0;
					content: "";
					width: 1px;
					height: 100%;
					background-color: rgba(255, 255, 255, 0.4);
					z-index: 3; }
.si-grpahic-container .si-split-image .si-image-col .si-image-wrap {
					width: 100%;
					height: 100%; }
.si-grpahic-container .si-split-image .si-image-col .si-image-wrap img {
						position: absolute;
						display: block;
						width: 100%;
						z-index: 1; }
.si-grpahic-container .si-resize-overlay, .si-main .si-col.viewer .si-main-graphic .si-grpahic-container .si-split-image .si-split-drag {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.4);
			padding: 10px;
			z-index: 3;
			cursor: move; }

.si-grpahic-container .si-resize-overlay .si-resize-wrap, .si-main .si-col.viewer .si-main-graphic .si-grpahic-container .si-split-image .si-split-drag .si-resize-wrap {
				width: 100%;
				height: 100%;
				border: 1px dashed rgba(255, 255, 255, 0.5); }

.si-grpahic-container .si-static-text-overlay {
					position: absolute;
					top: 0;
					right: 24px;
					z-index: 3;
					-webkit-box-sizing:border-box;
				            box-sizing:border-box; }
.si-grpahic-container .si-static-text-overlay .si-static-text-wrap  * {

					word-wrap: break-word;
}
.si-grpahic-container .si-static-text-overlay.flag {
						width: 30%;
						top: 50%;
						-webkit-transform: translateY(-50%);
								-ms-transform: translateY(-50%);
										transform: translateY(-50%); }
.si-grpahic-container .si-static-text-overlay.flag .si-static-text-wrap {
							font-size: 70px;
							text-align: right;
							font-family: 'gotham_ultra-italic',sans-serif; }
.si-grpahic-container .si-static-text-overlay.flag .si-static-text-wrap p {
							text-shadow: 4px 0 0 rgba(0, 71, 178, 0.6);
							color:#fff; }
.si-grpahic-container .si-static-text-overlay.flag-1 {
						width: 25%;
						top: auto;
						bottom: 100px;
						-webkit-transform: translateY(0);
								-ms-transform: translateY(0);
										transform: translateY(0); }
.si-grpahic-container .si-static-text-overlay.flag-1 .si-static-text-wrap .si-static-player-name {
							text-align: right;
							font-size: 50px;
							color: #fff;
							font-family: 'gotham_black',sans-serif; }
.si-grpahic-container .si-static-text-overlay.flag-1 .si-static-text-wrap .si-static-score {
							margin-top: 5px;
							display: block;
							text-align: right;
							font-family: 'gotham_black',sans-serif;
							font-size: 80px;
							letter-spacing: 0.7px; }
.si-grpahic-container .si-static-text-overlay.flag-1 .si-static-text-wrap .si-static-score .si-static-score-item {
								font-family: 'gotham_book',sans-serif;
								font-size: 50px; }
.si-grpahic-container .si-static-text-overlay.flag-2 {
						width: 30%;
						top: 0;
						right: 0;
						left: auto;
						bottom: auto;
						padding: 40px 20px 20px 0; }
.si-grpahic-container .si-static-text-overlay.flag-2 .si-static-title {
							position: relative;
							font-size: 50px;
							font-family: 'gotham_bold',sans-serif;
							padding-bottom: 30px;
							margin-bottom: 30px;
							word-wrap: break-word;
						}
.si-grpahic-container .si-static-text-overlay.flag-2 .si-static-title:before {
								position: absolute;
								content: "";
								bottom: 0;
								left: 0;
								right: -20px;
								width: calc(100% + 20px);
								height: 1px;
								background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0.8)), to(transparent));
								background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0.8) 0%, transparent 100%);
								background: -o-linear-gradient(right, rgba(255, 255, 255, 0.8) 0%, transparent 100%);
								background: linear-gradient(to left, rgba(255, 255, 255, 0.8) 0%, transparent 100%); }
.si-grpahic-container .si-static-text-overlay.flag-2 .si-static-score {
							font-family: 'gotham_black',sans-serif;
							font-size: 150px; }
.si-grpahic-container .si-static-text-overlay.flag-2 .si-static-description {
							font-family: 'gotham_medium',sans-serif;
							font-size: 40px;
							margin-top: 20px;
							line-height: 1;
							word-wrap: break-word;
						 }
.si-grpahic-container .si-static-text-overlay.bottom-text {
						width: 90%;
						bottom: 20px;
						left: 50%;
						top: auto;
						-webkit-transform: translateX(-50%);
								-ms-transform: translateX(-50%);
										transform: translateX(-50%); }

.si-grpahic-container .si-static-text-overlay.bottom-text .si-static-text-wrap .si-static-player-name {
							font-size: 75px;
							font-family: 'gotham_ultra-italic',sans-serif;
							 }
.si-grpahic-container .si-static-text-overlay.bottom-text .si-static-text-wrap .si-static-tagline {
							display: inline-block;
							margin-top: 5px;
							font-family: 'gotham-book-italic',sans-serif;
							font-size: 30px;
						 }
.si-grpahic-container .si-static-text-overlay.bottom-gradient {
						width: 100%;
						height: 60%;
						bottom: 0;
						top: auto;
						right: auto;
						left: 0;
						/* background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0, 0, 0, 0.8)));
						background: -webkit-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
						background: -o-linear-gradient(top, transparent 0%, rgba(0, 0, 0, 0.8) 100%);
					background: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 100%);*/ }
.si-grpahic-container .si-static-text-overlay.bottom-gradient .si-static-text-wrap {
							position: absolute;
							width: 90%;
							margin: 0 auto;
							bottom: 20px;
							left: 50%;
							-webkit-transform: translateX(-50%);
									-ms-transform: translateX(-50%);
											transform: translateX(-50%); }
.si-grpahic-container .si-static-text-overlay.bottom-gradient .si-static-text-wrap p {
								font-family: 'gotham_book',sans-serif;
								font-weight: normal;
								font-size: 40px;
								line-height: 1.3; }
.si-grpahic-container .si-static-text-overlay.left-gradient {
						width: 30%;
						left: 0;
						top: 0;
						height: 100%;
						right: auto;
						/* background: -webkit-gradient(linear, right top, left top, from(transparent), to(rgba(0, 0, 0, 0.5)));
						background: -webkit-linear-gradient(right, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
						background: -o-linear-gradient(right, transparent 0%, rgba(0, 0, 0, 0.5) 100%);
						background: linear-gradient(to left, transparent 0%, rgba(0, 0, 0, 0.5) 100%); */
						padding: 40px 0 20px 40px; }
.si-grpahic-container .si-static-text-overlay.left-gradient .si-static-title {
							position: relative;
							font-size: 50px;
							font-family: 'gotham_black',sans-serif;
							padding-bottom: 20px;
							margin-bottom: 20px; }
.si-grpahic-container .si-static-text-overlay.left-gradient .si-static-title:before {
								position: absolute;
								content: "";
								left: -40px;
								bottom: 0;
								height: 1px;
								width: calc(100% + 40px);
								background: -webkit-gradient(linear, left top, right top, from(white), to(transparent));
								background: -webkit-linear-gradient(left, white 0%, transparent 100%);
								background: -o-linear-gradient(left, white 0%, transparent 100%);
								background: linear-gradient(to right, white 0%, transparent 100%); }
.si-grpahic-container .si-static-text-overlay.left-gradient .si-static-score-item {

							position: relative;
							font-family: 'gotham_medium',sans-serif;
							padding: 24px 0;
							font-size: 36px;

						 }
.si-grpahic-container .si-static-text-overlay.left-gradient .si-static-score-item:before {
								position: absolute;
								content: "";
								left: -40px;
								bottom: 0;
								height: 1px;
								width: calc(100% + 40px);
								background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.2)), to(transparent));
								background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.2) 0%, transparent 100%);
								background: -o-linear-gradient(left, rgba(255, 255, 255, 0.2) 0%, transparent 100%);
								background: linear-gradient(to right, rgba(255, 255, 255, 0.2) 0%, transparent 100%); }


.si-grpahic-container .si-static-text-overlay.bottom-graphic {
	width: 100%;
	bottom: 20px;
	left: 0;
	right: auto;
	top: auto; }
.si-grpahic-container .si-static-text-overlay.bottom-graphic .si-static-text-wrap {

		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
				-ms-flex-pack: justify;
						justify-content: space-between;
		padding: 0 40px;
	 }
.si-grpahic-container .si-static-text-overlay.bottom-graphic .si-static-text-wrap .si-static-player-name {
		font-size: 28px;
		font-family: 'gotham_light',sans-serif;
		margin-bottom: 10px; }
.si-grpahic-container .si-static-text-overlay.bottom-graphic .si-static-text-wrap .si-static-score {
		font-size: 50px;
		font-family: 'gotham_black',sans-serif;
		letter-spacing: 1.5px; }

.si-grpahic-container .si-static-text-overlay.bottom-graphic .si-static-text-wrap .si-left-text {

		max-width: 60%;
		word-wrap: break-word;
}
.si-grpahic-container .si-static-text-overlay.bottom-graphic .si-static-text-wrap .si-right-text {
	/* -webkit-align-self: flex-end;
		-ms-flex-item-align: end;
				align-self: flex-end; */
				position: absolute;
				right:40px;
				bottom: 0;
				max-width: 40%; }

.si-grpahic-container .si-static-text-overlay.bottom-graphic .si-static-text-wrap .si-right-text .si-static-tagline {
				font-size: 50px;
				font-family: 'gotham_black',sans-serif; }

.si-grpahic-container .si-static-text-overlay {
	color:#fff;
}
.si-spider-graphic {
	position: absolute;
	z-index: 2;
}
.si-spider-graphic  img {

	display: block;
	width:100%;
	height:auto;

}
